p{
  font-size: small;
  margin-bottom: 0;
  color: rgb(238, 238, 238);
   font-family: Arial, Helvetica, sans-serif;
}

h3{
  color: rgba(221, 230, 237, 1);
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.smallText{
  font-size: x-small;
  color: rgba(221, 230, 237, 1);
   font-family: Arial, Helvetica, sans-serif;
}

text{
    font-size: small;
    fill: rgba(221, 230, 237, 1);
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #27374D;
}

.info{
  background-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.infoContainer{
  border-radius: 10px;
  background-color: rgba(82, 109, 130,0.3);
  margin : 3px;
  padding: 5px 1px;
  
}

.devicesBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.deviceButton{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 45% 35%;
  width: 100px;
  height: 80px;
  background-color: rgba(39, 55, 77,0.4);
  border-top-color: rgb(0, 173, 181);
  border-left-color: rgb(0, 173, 181);
  box-shadow: none;
  border-radius: 0.8rem;
  border-bottom: none;
  border-right: none;
  color: rgb(0, 173, 181);
  margin: 5px;
}

.deviceButton:hover{
  background-color: rgba(82, 109, 130,0.8);
}

.deviceButton:active{
  background-color: rgba(39, 55, 77,1);
}

.deviceLabel{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 45% 35%;
  width: 100px;
  height: 85px;
  background-color: rgba(39, 55, 77,0.5);
  box-shadow: none;
  border-radius: 0.5rem;
  border-bottom: none;
  border-right: none;
  color: rgb(0, 173, 181);
  margin: 5px;
  
  
}

.deviceStatus{
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: start;
  margin-left: 3px;
  margin-top: 3px;
}

.deviceIcon{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.deviceName{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: end;
  font-size: small;
}


.layout {
    width: 500px;
     display: block;
    margin: 0 auto;
}

.habitacionApagada {
    fill: rgba(82, 109, 130,0.2);
}

.habitacionEncendida {
    fill: rgba(82, 109, 130,0.9);
}

.apagado {
    fill: rgba(14, 15, 15, 0.6);
}

.encendido {
    fill: rgb(185, 202, 243);
}